ul li input{
    width: 5%;
    margin: 0.5%;
}
.container-mini{
    width: 60%;
    margin: auto;
}
.center{
    margin-left: 130px !important;
}
@media (max-width: 768px){
    .container-mini{
        width: 100%;
    }
}
.container-mini input{
    width: 30%;
}
.error-border {
    border: 3px solid red !important;
}
#matrix input[type="number"],
#finalMatrix input[type="text"],
#stepsContainer input[type="text"] {
  min-width: 62px;
  width: 62px;
  box-sizing: border-box;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
input::placeholder {
    color: #9b9b9b;
    font-weight: 600;
    opacity: 1;
}
.table>:not(caption)>*>* {
    border: 0;
}
.s-td{
    width: 20%;
}
input[type="radio"] {
    width: 18px;
    height: 18px;
    border: 3px solid #000 !important; 
  }

  input[type="radio"]:checked {
    accent-color: #000000;
  }
.augmented-pair > .aug-left-column {
  border-right: 2px solid #000;
  padding-right: 12px;
  margin-right: 8px;
  display: inline-block;
}
.augmented-pair > .aug-right-column {
  display: inline-block;
  padding-left: 12px;
}
.augmented-pair .aug-left-column li,
.augmented-pair .aug-right-column li {
  min-height: 36px;
}
input {
  text-align: center;
}
@media (max-width: 600px) {
  #stepsContainer .d-flex.justify-content-center {
      flex-direction: row !important;
      flex-wrap: nowrap !important;
      gap: 4px !important;
  }
  #stepsContainer .d-flex.justify-content-center > div {
      flex-direction: column !important;
      margin: 0 !important;
      padding: 0 !important;
  }
  #stepsContainer input[type="text"],
  #finalMatrix input[type="text"] {
      min-width: 26px !important;
      width: 26px !important;
      padding: 1px !important;
      font-size: 11px !important;
      margin: 1px !important;
  }
}
